body{
    margin:0px;
    padding:0px;
}
/* Static Nav Bar */

nav{
    position:fixed;
    width:100%;
    top:0px;
    height:40px;
    background-color:azure;
    opacity: .5; 
}
 
nav:hover{
    opacity:1;
}
nav ul{
    text-align: center;   
}
nav li{
    display:inline;
    border-right:2px solid black;
    border-left:2px solid black;
}
#top_pic{
    margin-top:40px;
    text-align: center;
}
#top_pic h3{
    padding-top:180px;
   
    
}
/* about_scannar and middle pic */
#main{
      overflow:hidden;
}
#about_scannar{
    width:50%;
    margin-top:60px;
    text-align: center;
    float:left; 
    
}

#about_scannar i{
    font-size:20px;
}

#middle_pic{
    width:35%;
    float:right;
    margin-top:60px;
}
#middle_pic img{
   width:100%;
}

/* The Team */

#team header{
    text-align: center;
}
 #gp_singh, #amit_singh{
    width:50%;
}

#gp_singh{
    float:left;
    width:33.33%;
    text-align: center;
}

#gp_singh img{
    height:250px;
    width:350px;
}
#amit_singh{
    float:right;
    text-align: center;
    width:33.33%;
}
#dadi{
    margin:auto;
    width:33.33%;
    text-align: center; 
}

#dadi img{
    height:250px;
    width:350px;
}